body{
    background-image: radial-gradient(#101010, #212133);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(221, 221, 221);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}